/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1950px) {
  .scene {
    display: none;
  }
}

@media only screen and (max-width: 1760px) {
  .scene {
    display: none;
  }

  .menu-btn {
    right: 1px;
    top: 170px;
  }

  .menu a {
    right: 1px;
    top: 170px;
  }
}

@media only screen and (max-width: 1200px) {
  .heading {
    margin: 0 0 16px;
    font-size: 65px;
    line-height: 96px;
    font-weight: 400;
  }

  .scene {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    right: 0;
    height: 830px;
  }

  .scene > div {
    position: absolute;
    bottom: 0;
  }

  .scene > div.html {
    width: 300px;
    height: 257px;
    bottom: 30px;
    left: 5px;
    z-index: -10;
    background: url("img/parallax-html.png") no-repeat center;
  }

  .scene div.css {
    width: 200px;
    height: 200px;
    background: url("img/parallax-css.png") no-repeat center;
    z-index: -10;
    right: 5px;
    bottom: 30px;
  }

  .scene div.javascript {
    width: 300px;
    height: 350px;
    background: url("img/parallax-js.png") no-repeat center;
    z-index: -10;
    right: 350px;
    bottom: 10px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .container {
    width: 700px;
    margin: 0 auto;
    padding: 0 6px;
  }

  .page-header {
    margin: 0 0 160px;
    padding: 0px;
  }

  .page-header .container,
  .page-footer .container {
    max-width: 928px;
    text-align: center;
  }

  .heading {
    margin: 0 0 16px;
    font-size: 68px;
    line-height: 96px;
    font-weight: 400;
  }

  .scene {
    display: none;
  }

  .subheading {
    margin: 0 0 56px;
    font-size: 54px;
    line-height: 80px;
    font-weight: 400;
    text-align: center;
  }

  .user-image {
    padding-top: 5px;
    padding-bottom: 30px;
    margin: 0 0 32px;
    text-align: center;
  }

  .level {
    margin: 4px 0 16px;
    padding: 0;
    height: 14px;
    width: 700px;
    font-size: 0;
    background-color: #ffffff;
    border: 1px solid #86c3fa;
    border-radius: 8px;
  }

  .project-image img {
    width: 678px;
    height: 436px;
  }
}

@media only screen and (max-width: 890px) {
  .container {
    width: 700px;
    margin: 0 70px;
    padding: 0 6px;
  }

  .subheading {
    margin: 0 0 56px;
    font-size: 44px;
    line-height: 80px;
    font-weight: 400;
    text-align: center;
  }

  .level {
    margin: 4px 0 16px;
    padding: 0;
    height: 14px;
    width: 650px;
    font-size: 0;
    background-color: #ffffff;
    border: 1px solid #86c3fa;
    border-radius: 8px;
  }
}

@media only screen and (max-width: 820px) {
  .container {
    width: 700px;
    margin: 0 25px;
    padding: 0 6px;
  }

  .level {
    margin: 4px 0 16px;
    padding: 0;
    height: 14px;
    width: 650px;
    font-size: 0;
    background-color: #ffffff;
    border: 1px solid #86c3fa;
    border-radius: 8px;
  }
}

@media only screen and (max-width: 730px) {
  .level {
    margin: 4px 0 16px;
    padding: 0;
    height: 14px;
    width: 600px;
    font-size: 0;
    background-color: #ffffff;
    border: 1px solid #86c3fa;
    border-radius: 8px;
  }

  .project-image img {
    width: 578px;
    height: 336px;
  }
}

@media only screen and (max-width: 680px) {
  body {
    font-size: 12px;
  }

  .container {
    width: 600px;
    margin: 0 25px;
    padding: 0 6px;
  }

  .heading {
    margin: 0 0 16px;
    font-size: 58px;
    line-height: 96px;
    font-weight: 400;
  }

  .subheading {
    margin: 0 0 56px;
    font-size: 35px;
    line-height: 80px;
    font-weight: 400;
    text-align: center;
  }

  .user-image img {
    width: 400px;
    border-radius: 20%;
    border: 7px dashed #ec5a35;
  }

  .level {
    margin: 4px 0 16px;
    padding: 0;
    height: 14px;
    width: 500px;
    font-size: 0;
    background-color: #ffffff;
    border: 1px solid #86c3fa;
    border-radius: 8px;
  }

  .project-image img {
    width: 478px;
    height: 236px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 500px;
    margin: 0 25px;
    padding: 0 6px;
  }

  .heading {
    margin: 0 0 16px;
    font-size: 50px;
    line-height: 96px;
    font-weight: 400;
  }

  .user-image img {
    width: 380px;
    border-radius: 20%;
    border: 7px dashed #ec5a35;
  }

  .intro h3,
  .portfolio h3 {
    margin: 0 0 12px;
    font-size: 24px;
    line-height: 40px;
    font-weight: 500;
  }

  .level {
    margin: 4px 0 16px;
    padding: 0;
    height: 14px;
    width: 430px;
    font-size: 0;
    background-color: #ffffff;
    border: 1px solid #86c3fa;
    border-radius: 8px;
  }

  .portfolio h2 {
    margin-bottom: -10px;
  }
}

@media only screen and (max-width: 530px) {
  body {
    font-size: 10px;
  }

  .container {
    width: 430px;
    margin: 0 25px;
    padding: 0 6px;
  }

  .content_clock {
    font-size: 12px;
  }

  .heading {
    margin: 0 0 16px;
    font-size: 50px;
    line-height: 96px;
    font-weight: 400;
  }

  .user-image img {
    width: 350px;
    border-radius: 20%;
    border: 6px dashed #ec5a35;
  }

  .heading + p {
    font-size: x-large;
  }

  .subheading {
    margin: 0 0 56px;
    font-size: 28px;
    line-height: 80px;
    font-weight: 400;
    text-align: center;
  }

  .level {
    margin: 4px 0 16px;
    padding: 0;
    height: 14px;
    width: 330px;
    font-size: 0;
    background-color: #ffffff;
    border: 1px solid #86c3fa;
    border-radius: 8px;
  }

  .portfolio h2 {
    margin-bottom: -10px;
  }

  .project-image img {
    width: 378px;
    height: 186px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .page-header .container,
  .page-footer .container {
    max-width: 408px;
    text-align: left;
  }

  .container {
    width: 380px;
    margin: 0 15px;
    padding: 0 6px;
  }

  .heading {
    margin: 0 0 16px;
    font-size: 45px;
    line-height: 96px;
    font-weight: 400;
  }

  .subheading {
    margin: 0 0 56px;
    font-size: 30px;
    line-height: 80px;
    font-weight: 400;
    text-align: center;
  }

  .intro h3,
  .portfolio h3 {
    margin: 0 0 12px;
    font-size: 24px;
    line-height: 40px;
    font-weight: 500;
  }

  .level {
    margin: 4px 0 16px;
    padding: 0;
    height: 14px;
    width: 300px;
    font-size: 0;
    background-color: #ffffff;
    border: 1px solid #86c3fa;
    border-radius: 8px;
  }
}

@media only screen and (max-width: 420px) {
  .container {
    width: 350px;
    margin: 0 25px;
    padding: 0 6px;
  }

  .heading {
    margin: 0 0 16px;
    font-size: 40px;
    line-height: 96px;
    font-weight: 400;
  }

  .subheading {
    margin: 0 0 56px;
    font-size: 25px;
    line-height: 80px;
    font-weight: 400;
    text-align: center;
  }

  .user-image img {
    width: 310px;
    border-radius: 20%;
    border: 5px dashed #ec5a35;
  }

  .intro h3,
  .portfolio h3 {
    margin: 0 0 12px;
    font-size: 20px;
    line-height: 40px;
    font-weight: 500;
  }

  .level {
    margin: 4px 0 16px;
    padding: 0;
    height: 14px;
    width: 270px;
    font-size: 0;
    background-color: #ffffff;
    border: 1px solid #86c3fa;
    border-radius: 8px;
  }

  .project-image img {
    width: 328px;
    height: 166px;
  }
}

@media only screen and (max-width: 390px) {
  .container {
    width: 300px;
    margin: 0 30px;
    padding: 0 6px;
  }

  .subheading {
    margin: 0 0 56px;
    font-size: 20px;
    line-height: 80px;
    font-weight: 400;
    text-align: center;
    margin-bottom: -20px;
  }

  .heading {
    margin: 0 0 16px;
    font-size: 38px;
    line-height: 76px;
    font-weight: 400;
  }

  .user-image img {
    margin-top: 25px;
    width: 270px;
    border-radius: 20%;
    border: 5px dashed #ec5a35;
  }

  .intro h3,
  .portfolio h3 {
    margin: 0 0 12px;
    font-size: 18px;
    line-height: 40px;
    font-weight: 500;
  }

  .level {
    margin: 4px 0 16px;
    padding: 0;
    height: 14px;
    width: 230px;
    font-size: 0;
    background-color: #ffffff;
    border: 1px solid #86c3fa;
    border-radius: 8px;
  }

  .project-image img {
    width: 290px;
    height: 146px;
  }
}

@media only screen and (max-width: 350px) {
  body {
    font-size: 9px;
  }
  
  .container {
    width: 270px;
    margin: 0 30px;
    padding: 0 6px;
  }

  .subheading {
    margin: 0 0 56px;
    font-size: 20px;
    line-height: 80px;
    font-weight: 400;
    text-align: center;
    margin-bottom: -90px;
  }

  .heading {
    margin: 0 0 16px;
    font-size: 35px;
    line-height: 76px;
    font-weight: 400;
  }

  .user-image img {
    margin-top: 100px;
    width: 220px;
    border-radius: 20%;
    border: 5px dashed #ec5a35;
  }

  .heading + p {
    font-size: 20px;
  }

  .intro h3,
  .portfolio h3 {
    margin: 0 0 12px;
    font-size: 18px;
    line-height: 40px;
    font-weight: 500;
  }

  .level {
    margin: 4px 0 16px;
    padding: 0;
    height: 14px;
    width: 200px;
    font-size: 0;
    background-color: #ffffff;
    border: 1px solid #86c3fa;
    border-radius: 8px;
  }

  .project-image img {
    width: 250px;
    height: 126px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .container {
    width: 255px;
    margin: 0 25px;
    padding: 0 6px;
  }

  .subheading {
    margin: 0 0 56px;
    font-size: 20px;
    line-height: 80px;
    font-weight: 400;
    text-align: center;
    margin-bottom: -140px;
  }

  .heading {
    margin: 0 0 16px;
    font-size: 30px;
    line-height: 76px;
    font-weight: 400;
  }

  .heading + p {
    font-size: 20px;
  }

  .user-image img {
    margin-top: 150px;
    width: 180px;
    border-radius: 20%;
    border: 5px dashed #ec5a35;
  }

  .intro h3,
  .portfolio h3 {
    margin: 0 0 12px;
    font-size: 17px;
    line-height: 40px;
    font-weight: 500;
  }

  .level {
    margin: 4px 0 16px;
    padding: 0;
    height: 14px;
    width: 190px;
    font-size: 0;
    background-color: #ffffff;
    border: 1px solid #86c3fa;
    border-radius: 8px;
  }

  .project-image img {
    width: 250px;
    height: 126px;
  }
}

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}
