body {
  margin: 0;
  min-width: 960px;
  font-family: "PressPlay-regular", "Helvetica", "Arial", sans-serif;
  font-size: 15px;
  line-height: 32px;
  color: white;
  background-image: url("img/grid-png-43577.png");
  background-color: #302683;
  background-repeat: no-repeat;
  background-position: top center;
}

.scene {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  right: 0;
  height: 830px;
}

.scene > div {
  position: absolute;
  bottom: 0;
}

.scene > div.html {
  width: 300px;
  height: 257px;
  bottom: 450px;
  left: 150px;
  z-index: -10;
  background: url("img/parallax-html.png") no-repeat center;
}

.scene div.css {
  width: 200px;
  height: 200px;
  background: url("img/parallax-css.png") no-repeat center;
  z-index: -10;
  right: 200px;
  bottom: 400px;
}

.scene div.javascript {
  width: 300px;
  height: 350px;
  background: url("img/parallax-js.png") no-repeat center;
  z-index: -10;
  right: 800px;
  bottom: 30px;
}

.skills > h1,
h3,
h4 {
  color: #ec5a35;
}

li {
  color: white;
  list-style-type: square;
}

.container {
  max-width: 928px;
  margin: 0 auto;
  padding: 0 16px;
}

.page-header {
  margin: 0 0 160px;
  padding: 32px 0 32px;
}

.content_clock {
  font-size: 16px;
  float: left;
  color: #4eb543;
}

.page-header .container,
.page-footer .container {
  max-width: 1408px;
  text-align: right;
}

.page-header a {
  margin-left: 20px;
  color: #fff;
  font-size: smaller;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}




.menu-btn {
  position: absolute;
  right: -170px;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #4eb543;
  z-index: 3;
  border-radius: 2px;
  border: 2px white solid;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%; margin-top: -1px;
  left: 50%; margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #fff;
}
.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: block;
  transition: 0.2s;
}
.menu-btn span::before {
  transform: translateY(-5px);
}
.menu-btn_active span {
  height: 0;
}
.menu-btn span::after {
  transform: translateY(5px);
}

.menu-btn_active span:before {
  transform: rotate(-45deg);
  transform-origin: center;
}
.menu-btn_active span:after {
  transform: rotate(45deg);
  transform-origin: center;
}

.menu-block {
  display: flex;
  justify-content: start;
  align-items: flex-start;
}
.menu-nav {
  background-color: #fff;
  height: 50px;
  
}
.menu-nav__link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
}
.menu-nav__link {
  transition: 0.5s;
  transform-origin: right center;
  transform: translateX(50%);
  opacity: 0;
}
.menu-nav__link_active {
  transform: translateX(0%);
  opacity: 1;
}
.menu-block {
  position: relative;
}
.menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  width: 45px;
  height: 45px;
  border: 1px solid;
  transition: 0.4s;
  position: absolute;
  right: -167px;
  top: 4px;
  z-index: 1;
  font-size: 30px;
  border-radius: 2px;
  border: 2px white solid;
}
.menu a:nth-child(1) {
  color: #ffe0bd;
  transition-delay: 0.1s;
}
.menu a:nth-child(2) {
  color: #4eb543;
  transition-delay: 0.2s;
  
}
.menu a:nth-child(3) {
  font-size: 16px;
  transition-delay: 0.3s;

}

.menu_active a:nth-child(1) {
  transform: translate(-170%, 0%);
}
.menu_active a:nth-child(2) {
  transform: translate(-135%, 130%);
}
.menu_active a:nth-child(3) {
  transform: translate(0%, 165%);
}





.header-email {
  padding-left: 34px;
  background-image: url("img/mail.svg");
  padding-top: 7px;
  padding-bottom: 7px;
}

.header-vk {
  padding-left: 35px;
  background-image: url("img/vk.svg");
  padding-top: 5px;
  padding-bottom: 5px;
}

.header-phone {
  padding-left: 35px;
  background-image: url("img/phone.svg");
  padding-top: 5px;
  padding-bottom: 5px;
}

.hero-image {
  margin-bottom: 620px;
}

.hero-image .container {
  max-width: 1408px;
  text-align: center;
}

.heading {
  margin: 0 0 16px;
  font-size: 75px;
  line-height: 96px;
  font-weight: 400;
}

.hero-image p {
  margin: 0;
  font-size: 32px;
  line-height: 48px;
}

.intro {
  margin: 0 0 120px;
}

.subheading {
  margin: 0 0 56px;
  font-size: 55px;
  line-height: 80px;
  font-weight: 400;
  text-align: center;
}

.user-image {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 0 32px;
  text-align: center;
}

.user-image img {
  border: 7px dashed #ec5a35;
}

.intro h3,
.portfolio h3 {
  margin: 0 0 12px;
  font-size: 23px;
  line-height: 40px;
  font-weight: 500;
}

.intro p {
  margin: 0 0 32px;
}

.skills-list {
  margin: 0;
  padding: 0;
}

.skills-list dt {
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: left;
}

.skill-html {
  background-image: url("img/icon-html.svg");
}

.skill-css {
  background-image: url("img/icon-css.svg");
}

.skill-js {
  background-image: url("img/icon-js.png");
}

.level {
  margin: 4px 0 16px;
  padding: 0;
  height: 14px;
  font-size: 0;
  background-color: #ffffff;
  border: 1px solid #86c3fa;
}

.level div {
  margin: 1px;
  height: 12px;
  background-color: #ec5a35;
}

.portfolio {
  margin: 0 0 120px;
}

.projects {
  margin: 0;
  padding: 0;
  list-style: none;
}

.projects li {
  margin: 0 0 80px;
}

.project-image {
  margin: 0 0 24px;
  text-align: center;
}

.projects p {
  margin: 0 0 24px;
}

.button {
  margin-top: 10px;
  padding: 6px 20px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 2px;
  background-color: #4eb543;
  color: #ffffff;
  transition: 0.2s ease;
}

.button:hover {
  background-color: #48a222;
  box-shadow: 7px 5px 0px #316f1a;
}

.button_game {
  margin-top: 10px;
  padding: 6px 20px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #ec5a35;
  color: #ffffff;
  transition: 0.2s ease;
}

.button_game:hover {
  background-color: #48a222;
  box-shadow: 7px 5px 0px #316f1a;
}

.page-footer {
  padding: 40px 0;
  background-color: #4eb543;
  background-repeat: repeat;
  opacity: 0.8;
  color: #ffffff;
}

.page-footer a {
  margin-left: 56px;
  color: inherit;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.footer-email {
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-image: url("img/icon-email-footer.svg");
}

.footer-phone {
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-image: url("img/icon-phone-footer.svg");
}

.goup {
  padding: 15px;
  border-radius: 5px;
  background-color: #ec5a35;
  color: #ffffff;
  transition: 0.4s ease;
  text-decoration: none;
}

#goup {
  margin-top: 20px;
}

.goup:hover {
  background-color: #48a222;
  box-shadow: 7px 5px 0px #316f1a;
}
